html, body {
    height: 100%;
}
body {
    display: flex;
    align-items: center; /* 縦方向中央寄せ */
    justify-content: flex-start; /* 横方向は左揃え */
    min-height: 100vh;
    margin: 0;
    padding-left: 20px; 
    box-sizing: border-box;
    flex-direction: column; /* 要素を縦に並べる */
}

ul{
    list-style: none;
    padding: 0;

}
li{
    border: solid 1px black;
    margin: 10px 0;
     box-shadow: 4px 4px 5px rgba(0, 0, 0, 0.3);
    padding: 3px;
}